<%- contentFor( 'body') %>


    <div class="content">
        <div class="content-text">
            <h2>Sobre o First App</h2>
            <p>
                A aplicação First App foi uma aplicação desenvolvida no curso de Sistemas e Mídias Digitais na cadeira de Autoração Multimídia II
            </p>
            <p>
               O objetivo da aplicação é fazer com que os alunos conheçam as principais tecnologias WEB (HTML, CSS E JS), e além disso outras tecnologias  como Node.js, Express e EJS para assim criar um CRUD que permita o gerenciamento de cadastros de pessoas. 
            </p>
        </div>
        <img src="images/crud.jpg" alt="Crud">
    </div>
