<%- contentFor( 'body') %>


    <div class="content">
        <div class="content-text">
            <h2>Bem vindxs ao First App!</h2>
            <p>Aqui você poderá ter uma experiência com CRUD, aproveite e cadastre-se e cadastre quem você quiser para ter uma experiência completa.</p>
            <p>Clique na aba de cadastro para se cadastrar e na aba sobre para saber mais sobre a aplicação.</p>
        </div>
        <img src="images/home.jpg" style="width: 250; height: 250px;" alt="Pessoas conversando">
    </div>
