<%- contentFor( 'body' ) %>

<h3 style="text-align: center;"><a id='apilink' href='/api/listagem' style='font-family: Verdana, Geneva, Tahoma, sans-serif;'>Ver JSON com listagem completa</a></h3>

<div id='lista' class='buttonlist'>
    <button onclick="list()" type='button' class='btn' style='color: whitesmoke; background-color:black; text-align: center;'>-Mostrar lista simplificada-</button>
</div>


<div id='container-lista' style='display: grid; grid-template-columns: repeat(4, auto); justify-content: center; gap: 40px; margin-top: 10px;'>
</div>